

<div class = "container">
  <h2>Contact List App</h2>  
  <div class = "col-md-12">
    <button id  ="new" class="menu btn btn-primary" >Create a New Contact</button>
    <form id = "newuser" class = 'secondary' >
      <input id = 'name' type = 'text' placeholder="Name:"></input><br>
      <input id = 'email' type = 'text' placeholder="Email:"></input><br>
      <input id = 'phone' type = 'text' placeholder="Phone:"></input><br>
      <button id = 'submitnew' class = 'btn btn-primary'>Submit</button>
    </form>    
  </div>
  <div class = "col-md-12">
    <button id = "all" class="menu btn btn-primary">View All contacts</button>
    <div id = "listall"></div>
  </div>
  <div class = "col-md-12"> 
    <button id = "find" class="menu btn btn-primary">Find a Contact by ID</button>
    <form id = "finduser" class = 'secondary' >
      <input id = 'findid' type = 'text' placeholder="Id:"></input><br>
      <button id = 'submitfind' class = 'btn btn-primary'>Submit</button>
    </form>
  </div>
  <div class = "col-md-12"> 
    <button id = "search" class="menu btn btn-primary">Search by name/email</button>
    <form id = "searchuser" class = 'secondary' >
      <input id = 'query' type = 'text' placeholder="Name/Email:"></input><br>
      <button id = 'submitsearch' class = 'btn btn-primary'>Submit</button>
    </form>
  </div>
  <div class = "col-md-12">  
    <button id = "update" class="menu btn btn-primary">Update a contact</button>
    <form id = "updateuser" class = 'secondary' >
      <input id = 'updateid' type = 'text' placeholder="Id:"></input><br>
      <input id = 'nameu' type = 'text' placeholder="Name:"></input><br>
      <input id = 'emailu' type = 'text' placeholder="Email:"></input><br>
      <input id = 'phoneu' type = 'text' placeholder="Phone:"></input><br>
      <button id = 'submitupdate' class = 'btn btn-primary'>Submit</button>
    </form>
  </div>
  <div class = "col-md-12">  
    <button id = "delete" class="menu btn btn-primary">Delete a contact</button>
    <form id = "deleteuser" class = 'secondary' >
      <input id = 'deleteid' type = 'text' placeholder="Id:"></input><br>
      <button id = 'submitdelete' class = 'btn btn-primary'>Submit</button>
    </form>
  </div>
  <button id = "home" class = "secondary btn btn-primary" >Home</button>      
</div>